.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    color: var(--ct-component-active-color);
    margin-right: 20px;
}
.title {
    font-size: 16px;
    font-weight: bold;
}

.payment-methods {
    list-style: none;
    margin: 0;
    padding: 0;
}

.payment-methods:after {
    content: "";
    clear: both;
}

.payment-method {
    border: 2px #313844 solid none;
    box-sizing: border-box;
    float: left;
    width: 110px;
    height: 60px;
    position: relative;
}

.payment-method + .payment-method {
    margin-left: 5px;
}
.payment-method label {
    border-radius: 8px;
    background: #FFF no-repeat center center;
    bottom: 1px;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 1px;
    position: absolute;
    right: 1px;
    text-indent: 100%;
    top: 1px;
    white-space: nowrap;
  }
  
  .boleto label {
    background-image: url(../images/boleto.png);
  }
  
  .creditCard label {
    background-image: url(../images/creditcard.png);
  }
  
  .pix label {
    background-image: url(../images/pix.png);
  }
  .payment-methods input:checked + label {
    outline: 3px solid #f9c851 ;
  }
  
  
